/* Navigation Bar */

/* .container {
    width: 100%;
    height: 100%;
}

.navbar_top{
    width: 100%;
    height: 10%;
}

.navi_buttons {
    width: 100%;
    height: 70%;
}

.navi_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-height: 60px;
    min-height: 60px;
}

.navi_button:hover {
    background-color: grey;
    transition: 0s !important;
}

.image {
    display: block;
    margin-right: auto;
    transform: scale(0.11);
}

.bottom_buttons {
    width: 100%;
    height: 20%;
}

.container:hover .image {
    display: none;
}

.container:hover #buttonText {
    display: block;
}

.active_button{
    background-color: grey;
}

#homeImage{
    filter: invert(100%);
}

#buttonText {
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
} */


