<!-- Navigatie_bar -->

<div class="container">
    <div class="navbar_top">
        
    </div>
    <div class="navi_buttons">
        <div class="navi_button" href="#" [routerLink]="['/home']" routerLinkActive="active_button">
            <p class="text" id="buttonText">Home</p>
            <img src="assets/images/home.png" alt="House" class="image" id="homeImage">
        </div>
        <div class="navi_button" href="#" [routerLink]="['/werksessies']" routerLinkActive="active_button">
            <p class="text" id="buttonText">Werksessies</p>
            <img src="assets/images/work.png" alt="House" class="image" id="homeImage">
        </div>
    </div>
    <div class="bottom_buttons">

    </div>
</div>